@page "/"

<PageTitle>Projects by 10adnan75</PageTitle>

<h1>&#60;hello-world /&#62;</h1>

<h3>Welcome to my projects :)</h3>

This WebApp is built in C# .NET deployed on GitHub (gh-pages). 

It is setup in .NET Core SDK by GitHub Actions which is used to build and publish .NET source, set up a specific version of the .NET and authentication to private NuGet repository.
