@page "/"
<PageTitle>Projects by 10adnan75</PageTitle>
<br>
<h1>&#60;hello-world /&#62;</h1>
<br>
<h3>Welcome to my Projects :)</h3>
<br>
This WebApp is built in C# .NET deployed on GitHub (gh-pages). 
It is setup in .NET Core SDK by GitHub Actions which is used to build and publish .NET source, set up a specific version of the .NET and authentication to private NuGet repository.

Check out my <a href="https://10adnan75.github.io/projects/myprojects/">projects!</a>
